iterations: 1
waiting_time: 2
redis_log: false
mixpanel_token: ~
facebook:
    id:             "xxxxxxxxxx" # Find out your's using this link: http://findmyfacebookid.com/
    token:          "xxxxxxxxxx" # Find out your's using this link: https://www.facebook.com/dialog/oauth?client_id=464891386855067&redirect_uri=https://www.facebook.com/connect/login_success.html&scope=basic_info,email,public_profile,user_about_me,user_activities,user_birthday,user_education_history,user_friends,user_interests,user_likes,user_location,user_photos,user_relationship_details&response_type=token
location: # Paris, FR
    lat:            48.8583905296204
    lon:            2.34283447265625
